<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
if($customerSession->isLoggedIn()) {
    $block_opacity = '';
}
else{
    $block_opacity = 'style="opacity: 0.25"';
}

?>
<div class="facebook-friends-celebrating-container">
    <?php
    if(!$customerSession->isLoggedIn()) {
        ?>
        <div class="select-friend-facebook">
            <img src="<?php echo $block->getViewFileUrl('images/facebook-block-image.png'); ?>"/>
        </div>
        <?php
    }
    ?>
    <div class="facebook-friends-celebrating" <?php echo $block_opacity; ?> >
        <h2>
            Friends Celebrating
        </h2>
        <div class="facebook-friends-list">
            <ul class="friends-list">
                <li>
                    <p class="image">
                        <img src="<?php echo $block->getViewFileUrl('images/avatars/startk.png');?>" />
                    </p>
                    <p class="info">
                    <span class="name">
                        Edd Stark
                    </span>
                    <span class="age">
                        Turns 42 - <strong> Tomorrow </strong>
                    </span>
                        <a href="#send-gift" class="send-gift">
                            Send gift
                        </a>
                    </p>
                </li>
                <li>
                    <p class="image">
                        <img src="<?php echo $block->getViewFileUrl('images/avatars/walter.png');?>" />
                    </p>
                    <p class="info">
                    <span class="name">
                        Walter White
                    </span>
                    <span class="age">
                        Turns 53 - <strong> Tomorrow </strong>
                    </span>
                        <a href="#send-gift" class="send-gift">
                            Send gift
                        </a>
                    </p>
                </li>
                <li>
                    <p class="image">
                        <img src="<?php echo $block->getViewFileUrl('images//avatars/tony.png');?>" />
                    </p>
                    <p class="info">
                    <span class="name">
                        Gokhun Guneyhan
                    </span>
                    <span class="age">
                        Turns 25 - <strong> Today </strong>
                    </span>
                        <a href="#send-gift" class="send-gift">
                            Send gift
                        </a>
                    </p>
                </li>
                <li>
                    <p class="image">
                        <img src="<?php echo $block->getViewFileUrl('images/avatars/cooper.png');?>" />
                    </p>
                    <p class="info">
                    <span class="name">
                        Shaldon Cooper
                    </span>
                    <span class="age">
                        <strong> Just </strong> Got Engaged
                    </span>
                        <a href="#send-gift" class="send-gift">
                            Send gift
                        </a>
                    </p>
                </li>
                <li class="other-celebrations">
                    <p class="image">
                        <img src="<?php echo $block->getViewFileUrl('images/avatars/li.png'); ?>"/>
                    </p>
                    <p class="info">
                    <span class="name">
                        Lykke Li
                    </span>
                    <span class="age">
                        Recieved Gifts: 0
                    </span>
                        <a href="#send-gift" class="send-gift">
                            Send gift
                        </a>
                    </p>
                </li>
                <li class="other-celebrations">
                    <p class="image">
                        <img src="<?php echo $block->getViewFileUrl('images/avatars/west.png'); ?>"/>
                    </p>
                    <p class="info">
                    <span class="name">
                        Keney West
                    </span>
                    <span class="age">
                        Recieved Gifts: 0
                    </span>
                        <a href="#send-gift" class="send-gift">
                            Send gift
                        </a>
                    </p>
                </li>
            </ul>
            <h2 class="view-all-celebrations">
                View all friends celebrations
            </h2>

        </div>
    </div>
</div>