<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
if($customerSession->isLoggedIn()) {
    ?>
    <div class="facebook-friends-celebrating">
        <h2>
            Poke Friends with a Gift Voucher
        </h2>
        <div class="facebook-friends-list">
            <ul class="friends-list">
                <li>
                    <p class="image">
                        <img src="<?php echo $block->getViewFileUrl('images/avatars/DT.png'); ?>"/>
                    </p>
                    <p class="info">
                    <span class="name">
                        Daenerys Targaryen
                    </span>
                    <span class="age">
                        Recieved Gifts: 2
                    </span>
                        <a href="#send-gift" class="send-gift">
                            Poke
                        </a>
                    </p>
                </li>
                <li>
                    <p class="image">
                        <img src="<?php echo $block->getViewFileUrl('images/avatars/morgan.png'); ?>"/>
                    </p>
                    <p class="info">
                    <span class="name">
                        Debra Morgan
                    </span>
                    <span class="age">
                        Recieved Gifts: 1
                    </span>
                        <a href="#send-gift" class="send-gift">
                            Poke
                        </a>
                    </p>
                </li>
                <li>
                    <p class="image">
                        <img src="<?php echo $block->getViewFileUrl('images/avatars/li.png'); ?>"/>
                    </p>
                    <p class="info">
                    <span class="name">
                        Lykke Li
                    </span>
                    <span class="age">
                        Recieved Gifts: 0
                    </span>
                        <a href="#send-gift" class="send-gift">
                            Poke
                        </a>
                    </p>
                </li>
                <li>
                    <p class="image">
                        <img src="<?php echo $block->getViewFileUrl('images/avatars/west.png'); ?>"/>
                    </p>
                    <p class="info">
                    <span class="name">
                        Keney West
                    </span>
                    <span class="age">
                        Recieved Gifts: 0
                    </span>
                        <a href="#send-gift" class="send-gift">
                            Poke
                        </a>
                    </p>
                </li>
                <li class="other-poke">
                    <p class="image">
                        <img src="<?php echo $block->getViewFileUrl('images//avatars/tony.png');?>" />
                    </p>
                    <p class="info">
                    <span class="name">
                        Gokhun Guneyhan
                    </span>
                    <span class="age">
                        Turns 25 - <strong> Today </strong>
                    </span>
                        <a href="#send-gift" class="send-gift">
                            Poke
                        </a>
                    </p>
                </li>
                <li class="other-poke">
                    <p class="image">
                        <img src="<?php echo $block->getViewFileUrl('images/avatars/cooper.png');?>" />
                    </p>
                    <p class="info">
                    <span class="name">
                        Shaldon Cooper
                    </span>
                    <span class="age">
                        <strong> Just </strong> Got Engaged
                    </span>
                        <a href="#send-gift" class="send-gift">
                            Poke
                        </a>
                    </p>
                </li>
            </ul>
            <h2 class="see-all-to-poke">
                See all friens to poke
            </h2>
        </div>
    </div>

    <?php
}
?>