<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
if($customerSession->isLoggedIn()) {
    ?>
    <div class="choise-from-facebook">
        <h1>
            Choose a friend from Facebook
        </h1>
        <div class="choose-facebook-btn">
            <a id="add-friend" href="#facebook">
            <span>
                +
            </span>
            </a>
        <span class="facebook-ivite-text">
            Select a friend and let us suggest some friends
        </span>
        </div>
    </div>
    <div class="add-friend-popup">
        <div class="container">
            <h2 class="select-title">
                Add friend to send a gift
            </h2>
            <a href="#close" id="close-friends-popup">
                x
            </a>
            <div class="friends-type">
                <h2 class="add-friend-title">
                    Add Friend by Personal Data
                </h2>
                <input placeholder="select fiend" class="select-friend-input"/>
                <span class="search-btn">

                </span>
            </div>
            <div class="friends">
                <p class="friend">
                    <span>
                        <img src="<?php echo $block->getViewFileUrl('images/avatars/tony.png');?>"/>
                    </span>
                    <span class="name">
                        Gonkhun Gonhen
                    </span>
                    <span class="add">
                        +
                    </span>
                </p>
                <p class="friend">
                    <span>
                        <img src="<?php echo $block->getViewFileUrl('images/avatars/west.png');?>"/>
                    </span>
                    <span class="name">
                        Kenya West
                    </span>
                    <span class="add">
                        +
                    </span>
                </p>
                <p class="friend">
                    <span>
                        <img src="<?php echo $block->getViewFileUrl('images/avatars/walter.png');?>"/>
                    </span>
                    <span class="name">
                        Walter White
                    </span>
                    <span class="add">
                        +
                    </span>
                </p>
                <p class="friend">
                    <span>
                        <img src="<?php echo $block->getViewFileUrl('images/avatars/startk.png');?>"/>
                    </span>
                    <span class="name">
                        Edd Stark
                    </span>
                    <span class="add">
                        +
                    </span>
                </p>
            </div>
            <div class="friends-celebrations">
                <p class="friend">
                    <span class="image">
                        <img src="<?php echo $block->getViewFileUrl('images/avatars/tony.png');?>"/>
                    </span>
                    <span class="name">
                        Gonkhun Gonhen
                    </span>
                    <span class="age">
                        Turns 25 - <strong> Today </strong>
                    </span>
                    <a href="#cf" class="choose">
                        Choose friend
                    </a>
                </p>
                <p class="friend">
                    <span class="image">
                        <img src="<?php echo $block->getViewFileUrl('images/avatars/west.png');?>"/>
                    </span>
                    <span class="name">
                        Kenya West
                    </span>
                    <span class="age">
                        Turns 25 - <strong> Today </strong>
                    </span>
                    <a href="#cf" class="choose">
                        Choose friend
                    </a>
                </p>
                <p class="friend">
                    <span class="image">
                        <img src="<?php echo $block->getViewFileUrl('images/avatars/walter.png');?>"/>
                    </span>
                    <span class="name">
                        Walter White
                    </span>
                    <span class="age">
                        Turns 25 - <strong> Today </strong>
                    </span>
                    <a href="#cf" class="choose">
                        Choose friend
                    </a>
                </p>
                <p class="friend">
                    <span class="image">
                        <img src="<?php echo $block->getViewFileUrl('images/avatars/startk.png');?>"/>
                    </span>
                    <span class="name">
                        Edd Stark
                    </span>
                    <span class="age">
                        Turns 25 - <strong> Today </strong>
                    </span>
                    <a href="#cf" class="choose">
                        Choose friend
                    </a>
                </p>
            </div>
            <div class="find-add-friend">
                <p class="name">
                    <span class="title">
                        Name - Surname
                        </span>
                    <span class="dots">
                        :
                    </span>
                    <span class="input">
                        <input/>
                    </span>
                </p>
                <p class="email">
                    <span class="title">
                        E-Mail
                        </span>
                    <span class="dots">
                        :
                    </span>
                    <span class="input">
                        <input/>
                    </span>
                </p>
                <p class="phone">
                    <span class="title">
                        Phone
                        </span>
                    <span class="dots">
                        :
                    </span>
                    <span class="input">
                        <input/>
                    </span>
                </p>
                <p class="add-to-list-block ">
                    <a href="#add" class="add-to-list">
                        Add to List
                    </a>
                </p>
            </div>
            <div class="friends-types">
                <a href="#fs" id="facebook-friends" class="button">
                    Facebook Friends
                </a>
                <a href="#fs" id="celebration-friends" class="button">
                    Friends Celebrations
                </a>
                <a href="#fs" id="add-friends" class="button">
                    Add a Friends
                </a>
            </div>
        </div>
    </div>
    <div class="background-font">
    </div>

    <script type="text/javascript">
        require(['jquery'], function() {
            (function($) {
                var add_friends = $('#add-friend');
                var fb_friends =  $('#facebook-friends');
                var celebration_friends =  $('#celebration-friends');
                var add_friend =  $('#add-friends');
                var popup_friends = $('.friends');
                var celebration_popup =  $('.friends-celebrations');
                var add_friend_popup = $('.find-add-friend');
                var input = $('.select-friend-input');
                var title = $('.select-title');
                var add_friend_title = $('.add-friend-title');
                var search_btn = $('.friends-type .search-btn');
                var close_btn = $('#close-friends-popup');
                var popup_window = $('.add-friend-popup');
                var bg_opacity = $('.background-font');

                add_friends.on('click', function () {
                    popup_window.show();
                    bg_opacity.show();
                });

                fb_friends.on('click', function () {
                    celebration_popup.hide();
                    add_friend_popup.hide();
                    input.show();
                    search_btn.show();
                    add_friend_title.hide();
                    input.css({"display":"inline-block"});
                    popup_friends.css({"display":"inline-block"});
                });

                celebration_friends.on('click', function () {
                    popup_friends.hide();
                    input.show();
                    search_btn.show();
                    add_friend_title.hide();
                    input.css({"display":"inline-block"});
                    add_friend_popup.hide();
                    celebration_popup.css({"display":"inline-block"});
                });

                add_friend.on('click', function(){
                    close_btn.css({"margin-top":"15px"});
                    add_friend_popup.hide();
                    popup_friends.hide();
                    input.hide();
                    search_btn.hide();
                    add_friend_title.css({"display":"inline-block"});
                    celebration_popup.hide();
                    title.css({"display":"inline-block"});
                    add_friend_popup.css({"display":"inline-block"});
                })

                close_btn.on('click', function(){
                    popup_window.hide();
                    bg_opacity.hide();
                });

            })(jQuery);
        });
    </script>

    <?php
}