<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
if($customerSession->isLoggedIn()) {
    ?>
    <li>
        <a href="<?php echo $block->getBaseUrl(); ?>friends">
            Friends
        </a>
    </li>
    <li class="login-button">
        <a href="#" class="connect_button">
            <span class="user-name">
                <?php echo $customerSession->getCustomer()->getName(); ?>
            </span>
        </a>
        <span class="logged-user"></span>
        <ul class="account-sub-menu">
            <li class="view-orders">
                <a href="#">
                    View Orders
                </a>
            </li>
            <li class="account-settings">
                <a href="http://magento.quartsoft.com/yaroslav/hadaya/customer/account/">
                    Account Settings
                </a>
            </li>
            <?php
            echo $block->getChildHtml('authorization-link-login');
            ?>
        </ul>
    </li>
<?php
}
else{
    ?>
    <li>
        <a href="<?php echo $block->getBaseUrl(); ?>customer/account/" class="connect_button">
            conect with Facebook
        </a>
    </li>
<?php
}
?>