
/**
* Variables
*/

@proxima_nova_url: '../fonts/ProximaNova/';
@lato_font_url: '../fonts/Lato/';
@helvetica_url: '../fonts/Helvetica/';
@fontawesome_url: '../fonts/FontAwesome/';
@font-family-name__base: 'Lato';
@header_links_color: #000;
@user_menu_background: #252525;
@hover_a: #f9c523;
@footer_last_background: #191919;
@defaul_color: #fff;
@footer_links_hover: #1979c3;

/**
* Changed variables
*/

@layout__max-width: 992px;

/*
* Width variables
*/

@mobile_width: 480px;
@table_width: 767px;
@large_table_width: 992px;
@desctop_width: 1200px;

/**
* Foonts
*/

/* Webfont: Lato-Black */@font-face {
	font-family: 'Lato Black';
	src: url('@{lato_font_url}Lato-Black.eot'); /* IE9 Compat Modes */
	src: url('@{lato_font_url}Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('@{lato_font_url}Lato-Black.woff2') format('woff2'), /* Modern Browsers */
	url('@{lato_font_url}Lato-Black.woff') format('woff'), /* Modern Browsers */
	url('@{lato_font_url}Lato-Black.ttf') format('truetype');
	text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Bold */@font-face {
	font-family: 'Lato Bold';
	src: url('@{lato_font_url}Lato-Bold.eot'); /* IE9 Compat Modes */
	src: url('@{lato_font_url}Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('@{lato_font_url}Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
	url('@{lato_font_url}Lato-Bold.woff') format('woff'), /* Modern Browsers */
	url('@{lato_font_url}Lato-Bold.ttf') format('truetype');
	text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Hairline */@font-face {
	font-family: 'Lato Hairline';
	src: url('@{lato_font_url}Lato-Hairline.eot'); /* IE9 Compat Modes */
	src: url('@{lato_font_url}Lato-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('@{lato_font_url}Lato-Hairline.woff2') format('woff2'), /* Modern Browsers */
	url('@{lato_font_url}Lato-Hairline.woff') format('woff'), /* Modern Browsers */
	url('@{lato_font_url}Lato-Hairline.ttf') format('truetype');
	text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Heavy */@font-face {
	font-family: 'Lato Heavy';
	src: url('@{lato_font_url}Lato-Heavy.eot'); /* IE9 Compat Modes */
	src: url('@{lato_font_url}Lato-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('@{lato_font_url}Lato-Heavy.woff2') format('woff2'), /* Modern Browsers */
	url('@{lato_font_url}Lato-Heavy.woff') format('woff'), /* Modern Browsers */
	url('@{lato_font_url}Lato-Heavy.ttf') format('truetype');
	text-rendering: optimizeLegibility;
}


/* Webfont: Lato-Light */@font-face {
	font-family: 'Lato Light';
	src: url('@{lato_font_url}Lato-Light.eot'); /* IE9 Compat Modes */
	src: url('@{lato_font_url}Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('@{lato_font_url}Lato-Light.woff2') format('woff2'), /* Modern Browsers */
	url('@{lato_font_url}Lato-Light.woff') format('woff'), /* Modern Browsers */
	url('@{lato_font_url}Lato-Light.ttf') format('truetype');
	text-rendering: optimizeLegibility;
}


/* Webfont: Lato-Medium */@font-face {
	font-family: 'Lato Medium';
	src: url('@{lato_font_url}Lato-Medium.eot'); /* IE9 Compat Modes */
	src: url('@{lato_font_url}Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('@{lato_font_url}Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
	url('@{lato_font_url}Lato-Medium.woff') format('woff'), /* Modern Browsers */
	url('@{lato_font_url}Lato-Medium.ttf') format('truetype');
	text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Regular */@font-face {
	font-family: 'Lato';
	src: url('@{lato_font_url}Lato-Regular.eot'); /* IE9 Compat Modes */
	src: url('@{lato_font_url}Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('@{lato_font_url}Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
	url('@{lato_font_url}Lato-Regular.woff') format('woff'), /* Modern Browsers */
	url('@{lato_font_url}Lato-Regular.ttf') format('truetype');
	text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Semibold */@font-face {
	font-family: 'Lato Semibold';
	src: url('@{lato_font_url}Lato-Semibold.eot'); /* IE9 Compat Modes */
	src: url('@{lato_font_url}Lato-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('@{lato_font_url}Lato-Semibold.woff2') format('woff2'), /* Modern Browsers */
	url('@{lato_font_url}Lato-Semibold.woff') format('woff'), /* Modern Browsers */
	url('@{lato_font_url}Lato-Semibold.ttf') format('truetype');
	text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Thin */@font-face {
	font-family: 'Lato Thin';
	src: url('@{lato_font_url}Lato-Thin.eot'); /* IE9 Compat Modes */
	src: url('@{lato_font_url}Lato-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('@{lato_font_url}Lato-Thin.woff2') format('woff2'), /* Modern Browsers */
	url('@{lato_font_url}Lato-Thin.woff') format('woff'), /* Modern Browsers */
	url('@{lato_font_url}Lato-Thin.ttf') format('truetype');
	text-rendering: optimizeLegibility;
}


@font-face {
	font-family: 'Proxima Nova Black';
	src: url('@{proxima_nova_url}ProximaNova-Black.ttf');
}

@font-face {
	font-family: 'Proxima Nova Bold';
	src: url("@{proxima_nova_url}ProximaNova-Bold.ttf"), url("@{proxima_nova_url}ProximaNova-Bold.otf");
}

@font-face {
	font-family: 'Proxima Nova';
	src: url("@{proxima_nova_url}ProximaNova-Regular.ttf"), url("@{proxima_nova_url}ProximaNova-Regular.otf");
}

@font-face {
	font-family: 'Proxima Nova Semibold';
	src: url("@{proxima_nova_url}ProximaNova-Semibold.ttf"), url("@{proxima_nova_url}ProximaNova-Semibold.otf");
}

@font-face {
	font-family: 'Helvetica Bold';
	src: url("@{helvetica_url}Helvetica CE Bold.ttf");
}

@font-face {
	font-family: 'Helvetica';
	src: url("@{helvetica_url}Helvetica CE Regular.ttf"), url("@{helvetica_url}Helvetica.otf");
}

@font-face {
	font-family: 'FontAwesome';
	src: url('@{fontawesome_url}fontawesome-webfont.eot'); /* IE9 Compat Modes */
	src: url('@{fontawesome_url}fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('@{fontawesome_url}fontawesome-webfont.woff2') format('woff2'), /* Modern Browsers */
	url('@{fontawesome_url}fontawesome-webfont.woff') format('woff'), /* Modern Browsers */
	url('@{fontawesome_url}fontawesome-webfont.ttf') format('truetype');
}

/**
* Styles
*/


.header-logo-block-text{
	font-size: 36px;
	font-family: 'Proxima Nova Bold';
}

.header-logo-block{
	float: left;
	width: auto;
	.header-logo-block-text();

		a{
			color: @header_links_color;
		}
}

.header-logo-block a{
	color: @header_links_color;
	text-decoration: none;
}

.page-header .panel.wrapper{
	background: linear-gradient(to top, #eaeaea 0%, #e7e7e8 5%, #f2f2f2 30%, #fff 90%);
}

.header.panel > .header.links > li {
	vertical-align: sub;
	margin: 0px 15px;
 	&  a, & .view-default span{
		line-height: 52px;
		color: @header_links_color;
		text-transform: uppercase;
		letter-spacing: -1px;
		font-size: 14px;
		font-weight: bold;
		text-decoration: none;
	}
	& .switcher-option a{
		line-height: 22px;
	}

	& span img{
		height: 10px;
	}
}

.page-header .switcher strong{
	font-weight: bold;
	text-transform: uppercase;
}

.page-header .switcher .options .action.toggle:after, .page-footer .switcher .options .action.toggle:after,
.page-header .switcher .options .action.toggle.active:after, .page-footer .switcher .options .action.toggle.active:after{
	vertical-align: middle;
}

.page-header .switcher .options .action.toggle:after, .page-footer .switcher .options .action.toggle:after{
	border-top: 8px solid #000;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	width: 0px;
	vertical-align: text-top;
	margin-top: 1px;
}

.page-header .switcher .options .action.toggle.active:after, .page-footer .switcher .options .action.toggle.active:after{
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	width: 0px;
	vertical-align: baseline;
	border-top: 0px;
	border-bottom: 8px solid #000;
}

.connect_button{
	background-color: #5d77aa;
	padding: 10px 20px;
	border-radius: 20px;
	color: @defaul_color !important;
	text-shadow: 1px 1px 2px black;
	box-shadow: 1px 1px 2px black;
	letter-spacing: 0px !important;
	z-index: 999;
	position: relative;
}

.background-image-property{
	background-size: 10px;
	background-repeat: no-repeat;
	background-position: 10px;
	padding-left: 25px;
}

.account-sub-menu{
	display: none;
	position: absolute;
	z-index: 9;
	background-color: @user_menu_background;
	color: @defaul_color;
	padding: 0px;
	width: 100%;
	margin-top: -25px;
	list-style: none;
		& > .view-orders{
			background-image: url('../images/menu.png') !important;
			.background-image-property();
		}
		& > .authorization-link{
			background-image: url('../images/log-out.png') !important;
			.background-image-property();

		}
		& > .account-settings{
			background-image: url('../images/SETTINGS.png') !important;
			.background-image-property();
			background-position: 6px 10px;
			background-size: 17px;
		}
		a{
			color: @defaul_color !important;
		}
		& > li{
			border-bottom: 1px solid #3b3b3b;
			border-top: 1px solid #1a1a1a;
			margin-bottom: 0px;
			max-height: 36px;
			padding-left: 10px;
			a{
				line-height: 36px !important;
			}
		}
		& > li:first-child{
			border-top: none;
			margin-top: 20px;
		}
		& > li:last-child{
			border-bottom: none;
		}
}

.login-button{
	position: relative;
}

.logged-user{
	border-top: 8px solid #fff;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	width: 0px;
	vertical-align: text-top;
	position: absolute;
	top: 22px;
	right: 15px;
	z-index: 999;
	cursor: pointer;
}

.user-name{
	margin-right: 25px;
}

.logged-user-close{
	.logged-user();
	border-bottom: 8px solid #fff;
	border-top: 0px;
}

a:hover, #switcher-language-trigger:hover{
	color: @hover_a !important;
}

.header-logo-block > a:hover{
	color: @header_links_color !important;
}

.page-footer{
	text-align: center;
	background-color: #0e0e0e;
	color: @defaul_color;
	font-weight: 700;
}

.footer-last{
	.page-footer();
	background-color: #191919;
	font-style: italic;
	font-size: 12px;
	text-transform: uppercase;
	margin: 0;
	padding: 15px 0px 5px 0px;
	letter-spacing: -0.5px;
	border-bottom: 3px solid #303030;
	margin-top: -5px;
}

.foooter-lsat-img{
	margin: 0;
}

.footer-info-message{
	span{
		color: @hover_a;
	}
}

.footer .copyright, .footer .bugs{
	margin: 0;
}

.footer.content{
	max-width: 100% !important;
}

.footer-top-content{
	max-width: 992px;
	margin: auto;
	display: inline-block;
	.footer-links{
		max-width: 475px;
		ul{
			list-style-type: none;
			padding: 0;
			li{
				float: left;
				text-align: left;
				width: 33%;
			}
		}
	}
	.footer-socials a{
		line-height: 85px;
		vertical-align: bottom;
	}
	.footer-links a{
		padding: 0px 25px;
		color: @defaul_color;
		font-weight: 400;
		letter-spacing: 0px;
		text-transform: uppercase;
	}
	.footer-links a:hover{
		text-decoration: none;
	}
	& > *[class]{
		float: left;
		padding: 0px 10px;
		border-right: 1px solid #272727;
		border-left: 1px solid #0d0d0d;
		padding-top: 15px;
		min-height: 120px;

	}
	& > *[class]:first-child{
		border-left: none;
	}
	& > *[class]:last-child{
		border-right: none;
	}
	& > .footer-logo{
		float: left;
		width: auto;
		font-size: 42px;
		font-family: 'Proxima Nova Bold';
			a, a:hover{
				color: @defaul_color !important;
				line-height: 100px;
				text-decoration: none;
				font-family: 'Helvetica Bold';
			}
	}
}

.support-message{
	padding: 10px 0px;
	border-bottom: 2px solid #232323;
	margin: 0;
	.page-footer;
	& a{
		color: @hover_a;
		text-transform: uppercase;
	}
	& a:hover{
		color: @defaul_color !important;
		text-decoration: none;
	}
	p{
		margin: 0;
	}


}

@media (max-width: @large_table_width) {
	.footer-top-content > .footer-logo{
		width: 100%;
	}

	.footer-top-content > *[class]{
		border: none;
		float: none;
	}
}

@media (max-width: @table_width) {
	.header-logo-block{
		float: none;
	}
}

@media (max-width: @large_table_width) {
	.footer-top-content .footer-links ul li{
		width: 100%;
		float: none;
		text-align: center;
	}
}

.page-main{
	max-width: 992px;
}

.page-layout-2columns-right .column.main{
	width: 66.666%;
}

.page-layout-2columns-right .sidebar-additional{
	box-shadow: 0 1px 1px 1px #dad9d8;
	width: ~'calc(33.333% - 30px)';
	background-color: #fff;

}

/**
* Roght Sidebar
*/

.choise-from-facebook{
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 25px;
	border-bottom: 2px solid #f3f2f0;
	h1{
		font-size: 26px;
		font-weight: 600;
		letter-spacing: -1px;
		margin-bottom: 20px;
	}

	.choose-facebook-btn{
		border: 5px solid #f3f2f0;
		background-color: #6077a9;
		color: #fff;
		font-weight: 600;
		box-shadow: 0 0 2px #e4e4e4;
		display: flex;
		.facebook-ivite-text{
			display: inline-block;
			margin-top: 25px;
			position: relative;
			vertical-align: top;
			float: right;
		}
		a{
			width: 55px;
			height: 55px;
			float: left;
			display: inline-block;
			margin: 15px;
			border: 3px solid #3d5488;
			position: relative;
			vertical-align: bottom;
			border-radius: 30px;
			background: linear-gradient(to top left, #e8e8e8, #fcfcfc);
			span{
				color: #384d84;
				margin: 9px 20px;
				display: inline-block;
				font-size: 26px;
			}
		}
	}
}

.facebook-friends-celebrating{
	background-color: #f3f2f0;
	margin: 15px 10px;
	border-radius: 20px;
	h2{
		font-size: 14px;
		font-weight: 600;
		margin: 0;
		padding: 15px 25px;
		background: linear-gradient(to top, #dcdbd9, #f4f3f1);
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	.view-all-celebrations{
		color: @defaul_color;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		background: linear-gradient(to top, #ce6370, #e67c88);
		cursor: pointer	;
	}
	.see-all-to-poke{
		.view-all-celebrations();
		background: linear-gradient(to top, #76aec1, #8fc7da);
	}
	.friends-list{
		list-style: none;
		padding: 20px 25px;
		padding-bottom: 0px;
		margin-bottom: 0px;
		li{
			display: inline-block;
		}
		.other-poke, .other-celebrations{
			display: none;
		}
		.image{
			float: left;
			width: 70px;
			img{
				max-width: 70px;
			}
		}
		.info {
			width: ~"calc(100% - 80px)";
			letter-spacing: -0.5px;
			display: inline-block;
			margin-left: 10px;
			margin-bottom: 0px;
			min-height: 70px;
			& > *[class] {
				display: inline-block;
				width: 100%;
			}
			.name{
				font-weight: 600;
			}
			.age{
				font-style: italic;
				font-size: 12px;
			}
			.send-gift{
				width: auto;
				background-color: #393939;
				color: #fff;
				padding: 3px 10px;
				text-transform: uppercase;
				font-size: 10px;
				font-weight: 900;
				border-radius: 5px;
				margin-top: 8px;
			}
		}
	}
}

.select-friend-facebook{
	margin: 0px 0px;
	margin-top: 130px;
	position: absolute;
	z-index: 9
}


@media (max-width: @table_width) and (min-width: @mobile_width) {
	.facebook-friends-celebrating .friends-list {
		display: inline-block;
		li {
			width: 50%;
			float: left;
		}
	}
}


/**
* Slider styles
*/

.homepage-slider{
	padding: 0;
	margin: 0;
	.image img{
		width: 100%;
	}
	.messages{
		max-width: 992px;
		margin: auto;
		.messages-container{
			position: absolute;
			max-width: 460px;
			top: 65px;
			h2{
				color: @defaul_color;
				font-size: 40px;
				font-weight: 700;
				font-family: 'Lato Black';
			}
			.send-gift-btn{
				max-width: 240px;
				padding-right: 65px;
				background-color: #f6c11f;
				padding: 10px 20px;
				border-radius: 20px;
				display: block;
				line-height: 1;
				font-style: italic;
				font-weight: 800;
				font-size: 12px;
				color: #353535;
				font-family: 'Lato';
				padding-right: 10px;
				&:hover .btn-image{
					background-color: #353535;
				}
				.text-massege {
					line-height: 1;
					font-style: italic;
					font-weight: 800;
					font-size: 12px;
					color: #353535;
					font-family: 'Lato';
					text-transform: none;
					margin-top: -14px;
					margin-bottom: 6px;
				}
			span{
				font-family: 'Lato Black';
				color: #fff;
				font-size: 20px;
				text-transform: uppercase;
				clear: both;
				display: block;
				line-height: 28px;
				font-style: normal;
				margin-top: 5px;
			}
				.btn-image{
					width: 28px;
					height: 28px;
					display: inline-block;
					margin-left: 85px;
					box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
					border: 2px solid #daa503;
					border-radius: 20px;
					background-color: #fff;
					vertical-align: text-top;
				}
				span img{
					margin-left: 10px;
				}
				& .btn-image:hover{
					background-color: #353535;
				}
			}
			.send-gift-btn:hover{
				color: #353535 !important;
			}
		}
	}
}

.slide-menu{
	min-height: 150px;
	background: linear-gradient(to top, #76aec0, #90c7da);
	margin-top: -38px;
	.colapse-menu-select{
		background-color: #282828;
		color: @defaul_color;
		padding: 30px;
		max-width: 878px;
		margin: auto;
		box-shadow: 8px 10px 18px rgba(0,0,0,0.5);
		position: absolute;
		text-align: start;
		width: 100%;
		margin: auto;
		left: ~'calc((100% - 938px)/2)';
		margin-top: -95px;
		max-height: 200px;
		z-index: 9;
		padding-top: 75px;
		padding-bottom: 60px;
		display: none;
		.everyday-occasion, .public-occasion{
			float: left;
			ul{
				list-style: none;
				padding: 0;
				li{
					line-height: 30px;
					cursor: pointer;
					&:hover{
						color: @hover_a;
					}
				}
			}
			h3{
				color: #77afc1;
				font-family: 'Lato Bold';
				font-size: 16px;
			}
		}
		.everyday-occasion{
			ul{
				-moz-column-count: 3; /* Для Firefox */
				-moz-column-gap: 10px;
				-webkit-column-count: 3; /* Для Safari и Chrome */
				-webkit-column-gap: 20px;
				-webkit-column-count: 3; /* Количество колонок */
				-moz-column-gap: 20px; /* Отступ колонки */
				column-gap: 20px; /* Отступ колонки */
				-webkit-column-width: 200px;
				-moz-column-width: 200px;
				column-width: 200px;
				li{
					position: relative;
					span{
						width: 30px;
						display: inline-block;
						vertical-align: middle;
						height: 30px;
					}
				}

			}
		}
		.public-occasion{
			ul{

			}
		}
	}
	.collapse-menu{
		margin: auto;
		width: 100%;
		max-width: 920px;
		border: 10px #fff solid;
		border-radius: 50px;
		background-color: #fff;
		top: -35px;
		z-index: 999;
		position: relative;
		z-index: 999;
		color: @defaul_color;
		.find-best-gifts{
			background-color: #e8b822;
			position: relative;
			vertical-align: top;
			border-top-right-radius: 50px;
			border-bottom-right-radius: 50px;
			padding: 21px;
			font-size: 18px;
			line-height: 28px;
			text-transform: uppercase;
			text-shadow: 2px 2px #d3a71f;
			font-family: 'Lato Black';
			color: #3b3b3b;
			&:hover{
				color: @defaul_color !important;
				text-shadow: 2px 2px #3b3b3b;
				background: linear-gradient(to top, #2c2c2c, #424242);
			}
			&:hover span{
				background: linear-gradient(to top, #2c2c2c, #424242);
			}
			span{
				background: linear-gradient(to top, #2c2c2c, #424242);
				width: 24px;
				height: 24px;
				display: inline-block;
				border-radius: 23px;
				border: 4px #fff solid;
				&:hover{
					background-color: transparent;
				}
				img{
					margin-left: 8px;
				}
			}
		}
		.left-menu{
			padding: 18px;
			padding-left: 50px;
			border-top-left-radius: 50px;
			border-bottom-left-radius: 50px;
			display: inline-block;
			margin: 0;
			background: linear-gradient(to top, #2c2c2c, #424242);
			font-size: 20px;
			min-width: 625px;
		}
		.find-best-gifts{
			float: right;
		}
		.gift-select-what, .gift-select-for, select{
			width: auto;
			font-size: 20px;
			font-weight: 700;
			font-family: 'Lato Black';
			font-style: italic;
			background-color: #f5c01e;
			color: #000000;
			margin: 0px 6px;
			border: none;
			border-radius: 25px;
			padding: 5px 12px;
			display: inline-block;
			&:hover{
				color: #000 !important;
				background-color: #f1f1f1;
			}
			img{
				margin-left: 16px;
			}
		}
		.collapse-icon img{
			display: inline-block;
			margin-left: -34px;
			margin-right: 24px;
			cursor: pointer;
		}
	}
	.message{
		font-style: italic;
		text-align: center;
		font-weight: 400;
		font-size: 16px;
		max-width: 350px;
		margin: auto;
		top: -20px;
		position: relative;
		.arrow-down{
			position: relative;
			top: 20px;
			left: 5px;
		}
		.arrow-up{
			position: relative;
			top: -5px;
			left: -5px;
		}
	}
}

.slidesjs-previous{
	position: relative;
	top: -250px;
	left: 20px;
	background-image: url("../images/arrows/big-arrow-left.png");
	z-index: 99;
	min-height: 38px;
	background-repeat: no-repeat;
	min-width: 36px;
	float: left;
}
.slidesjs-next{
	position: relative;
	right: 20px;
	float: right;
	margin-top: -250px;
	background-image: url("../images/arrows/big-arrow-right.png");
	z-index: 99;
	min-height: 38px;
	background-repeat: no-repeat;
	min-width: 36px;
}

.slidesjs-play{
	display: none;
}

@media (max-width: @desctop_width){
	.homepage-slider .messages .messages-container{
		top: auto;
		padding-left: 75px;
	}
}

@media (max-width: @large_table_width){
	.slide-menu .collapse-menu{
		display: none;
	}
	.slidesjs-previous{
		top: -150px;
	}
	.slidesjs-next{
		top: 100px;
	}
	.slide-menu .message{
		top: 20px;
	}
	.homepage-slider .messages .messages-container{
		h2{
			margin-bottom: 10px;
		}
	}
	.page-header{
		margin-bottom: 0px;
	}
}

@media (max-width: @table_width){
	.homepage-slider .messages .messages-container p{
		display: none;
	}
	.homepage-slider .messages .messages-container{
		display: inline-block;
		width: 100%;
		margin: auto;
		h2{
			margin: auto;
		}
	}
	.slidesjs-next, .slidesjs-previous{
		display: none;
	}
	.slide-menu .message{
		top: 55px;
	}
	.homepage-slider .messages .messages-container{
		padding-left: 0px;
	}
}

.selected_menu{
	background: linear-gradient(to top, #2c2c2c, #424242);
	color: @defaul_color !important;
	background-color: transparent !important;
}
.yellow-background{
	background: linear-gradient(to top, #dba605, #f6c322);;
}

/**
* Home page content
*/

#maincontent{
	.main{
		.title{
			font-family: 'Lato Bold';
			font-size: 26px;
			margin: 40px 0px;
		}
		.gift-content{
			.gift-proposition, .gift-proposition-friends{
				width: ~'calc(50% - 65px)';
				float: left;
				padding: 10px 20px;
				background-color: #f1f1f1;
				border: 5px solid #fff;
				box-shadow: 0 3px 2px -2px #dad9d8;
				margin-bottom: 30px;
				p{
					margin: 0;
				}
				.text{
					img{
						float: left;
						margin-right: 5px;
					}
					span{
						font-family: 'Lato Bold';
						a{
							text-decoration: underline;
							p{
								display: inline-block;
								color: #fff;
							}
						}
					}
				}
				.sub-text{
					font-style: italic;
				}
				.sub-img{
					position: absolute;
					margin: auto;
					display: inline-block;
					margin-left: 120px;
					width: auto;
					margin-top: 5px;
				}
			}
			.gift-proposition{
				margin-right: 20px;
			}
			.gift-proposition-friends{

			}
		}
	}
}


/**
* Home widgets
*/

.top-home-category-items{
	.product-item-info {
		width: 300px;
		position: relative;
		top: 0px;
		height: 300px;
	}
	.product-image-container{
		width: 300px;
	}
	.product-image-wrapper{
		padding-bottom: 100% !important;
	}
	.product-item-details{
		margin-top: -120px;
		position: relative;
		height: 110px;
		z-index: 9;
		text-align: left;
	}
	.product-image-wrapper{
		img{
			width: 300px;
			max-width: 300px;
		}
	}
	.block.widget .products-grid .product-item{
		width: 50%;
		border: 10px solid #fff;
		max-width: 300px;
		text-align: center;
		box-shadow: 0 3px 2px 2px #dad9d8;
		height: 300px;
		min-width: 300px;
		.product-item-details{
			.product-item-actions{
				margin: 0;
			}
			.action.primary{
				padding: 0px;
				background: transparent;
				padding: 0px;
				border: none;
				margin-left: 20px;
				.price-box{
					margin: 0;
					.price{
						font-size: 16px;
						font-style: italic;
						font-weight: bold;
						&:hover{
							color: @hover_a;
						}
					}
				}
			}
			&:after{
				background: transparent;
				background: -moz-linear-gradient(to top, rgba(0, 0, 0, 0.5) 45%, rgba(51, 51, 51, 0) 100%);
				background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.5) 45%, rgba(51, 51, 51, 0) 100%);
				background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.5) 45%, rgba(51, 51, 51, 0) 100%);
				background: -o-linear-gradient(to top, rgba(0, 0, 0, 0.5) 45%, rgba(51, 51, 51, 0) 100%);
				background: -ms-linear-gradient(to top, rgba(0, 0, 0, 0.5) 45%, rgba(51, 51, 51, 0) 100%);
				background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 45%, rgba(51, 51, 51, 0) 100%);
				content: "";
				display: block;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: -1;
			}
		}
		&:nth-child(2n){
			margin-left: ~'calc(50% - 300px)';
			.product-item-details{
				background-color: #fff;
			}
			.action.primary {
				.price-box {
					.price {
						color: #f26d7d;
					}
				}
			}
			.product-item-details{
				&:after{
					background: transparent;
				}
			}
		}
		.product-item-name{
			text-align: left;
			padding-top: 15px;
			margin: 5px 20px;
			a{
				position: relative;
				z-index: 9;
				font-family: 'Lato Bold';
				font-size: 20px;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}

}

.left-home-category-items{
	width: 50%;
	float: left;
	.block.widget .products-grid .product-item{
		box-shadow: 0 3px 2px 2px #dad9d8;
		background-color: #fff;
		width: 45%;
		max-width: 142px;
		min-width: 140px;
		.product-item-details{
			text-align: left;
		}
		&:nth-child(2n){
			margin-left: 6%;
		}
		.product-item-name{
			margin: 0;
			a{
				font-family: 'Lato Bold';
				font-size: 16px;
				padding-left: 10px;
				&:hover{
					text-decoration: none;
				}
			}
		}
		.product-image-container{
			width: 142px;
		}
		.product-image-wrapper{
			height: 120px;
			margin-top: 10px;
			.product-image-photo{
				max-width: none;
				margin-left: -48.5px;
			}
		}
		.short-description{
			padding: 0px 10px;
			font-weight: 500;
			font-size: 12px;
			text-align: left;

		}
		.action.primary{
			background: #eb7382;
			border: 1px solid #c54c5a;
			box-shadow: 0px 1px 1px #f69da8 inset;
			border-radius: 0px;
			&:hover{
				background-color: @hover_a;
			}
			.price-box{
				margin: 0;
			}
		}
		.actions-primary{
			.tocart{
				width: 100%;
				padding: 7px 20px;
				margin-left: 10px;
				max-height: 35px;
				min-width: 110px;
			}
		}
	}
}

.right-home-category-items{
	width: 50%;
	float: left;
	.block.widget .products-grid .product-item{
		margin-left: 5px;
		box-shadow: 0 3px 2px 2px #dad9d8;
		background-color: #fff;
		width: 100%;
		max-height: 110px;
		margin-bottom: 26px;
		max-width: 300px;
		.product-item-info{
			.product-item-photo{
				float: left;
			}
			.product-item-details{
				display: inline-block;
				width: ~'calc(100% - 150px)';
				max-width: 110px;
				float: left;
				overflow: hidden;
				height: 110px;
				padding: 10px 0px;
				text-align: left;
				.product-item-actions{
					margin-top: 20px;
				}
				.product-item-name{
					margin: 0;
					& > a{
						font-family: 'Lato Bold';
						font-size: 16px;
						&:hover{
							text-decoration: none;
						}
					}
				}
				.short-description{
					font-size: 12px;
					text-align: left;
				}
				.actions-primary{
					.tocart > span{
						width: 100%;
						display: inline-block;
					}
					&:hover{
						color: @hover_a;
					}
				}
				.price-final_price{
					float: right;
				}
				.action.primary{
					padding: 0;
					background: transparent;
					color: #333333;
					border: 0px;
					line-height: 1;
					font-size: 12px;
					height: auto;
					.price-box{
						margin: 0;
						.price{
							font-size: 12px;
							&:hover{
								color: @hover_a;
							}
						}
					}
					&:hover{
						color: @hover_a;
					}
				}
			}
			.product-item-left-box{ // left box
				float: right;
				margin-left: 0px;
				top: 0px;
				height: 110px;
				position: relative;
				max-width: 40px;
				& > p{
					padding: 10px;
					width: 90px;
					transform: rotate(270deg);
					display: inline-block;
					margin-left: -35px;
					text-align: center;
					margin-top: 35px;
					color: #fff;
					text-transform: uppercase;
					cursor: context-menu;
					font-family: 'Lato Black';
					&:before{
						content: "";
						position: absolute;
						background-color: white;
						right: 0px;
						top: 0px;
						background-repeat: repeat;
						background: transparent;
						height: 12px;
						left: 0;
						background-size: 12px 12px;
						background-image: radial-gradient(circle at 4px 0px, #ffffff 4px, transparent 0px);
					}
				}
			}
		}
		.product-image-container{
			width: 110px;
		}
		.product-image-wrapper{
			height: 90px;
			max-width: 90px;
			margin: 10px;
			.product-image-photo{
				max-width: none;
				margin-left: -75px
			}
		}
	}
}

.column.main .product-items{
	text-align: center;
}

@media (max-width: 1024px){
	.products-grid .product-item{
		padding: 0 !important;
	}
	.left-home-category-items{
		.block.widget .product-item-info{
			max-width: 142px;
		}
	}

}

@media (max-width: @large_table_width){
	.select-friend-facebook{
		margin: 0px 20px;
		height: 365px;
	}
	.left-home-category-items{
		float: none;
		margin: auto;
		width: 100%;
		.product-items{
			max-width: 320px;
			margin: 10px auto !important;
			.product-item{
				float: left;
			}
		}
	}
	.top-home-category-items{
		.product-item{
			display: block;
			margin: 15px auto !important;
		}
	}
	.right-home-category-items{
		width: 100%;
	}

}

@media (max-width: 640px){
	.product-item-actions{
		display: table-cell;
		padding-bottom: 10px;
	}
	.left-home-category-items{
		.product-items{
			.product-item{
				margin-bottom: 15px;
			}
		}
	}
}

@media (max-width: @mobile_width){
	.column.main .product-items{
		margin-left: 0px;
	}
}

@media (max-width: 330px){
	.left-home-category-items{
		.product-items{
			max-width: 270px;
			.product-item{
				display: inline-block;
				margin: 10px auto !important;
				width: 50%;
				float: none;
			}
		}
	}

}

/**
* Gift Page Related block
*/

.sidebar .product-items .product-item-details{
	margin-left: 0px;
}

.sidebar{
	.products-grid .product-item{
		width: 50%;
		max-width: 125px;
		min-width: 125px;
		padding: 10px;
		background-color: #fff;
		margin-left: 10px;
		box-shadow: 0 1px 1px 1px #dad9d8;
		&:nth-child(2n){
			margin-right:: 10px;
		}
		.sidebar .product-items .product-item-name{
			font-family: "Lato Bold";
			font-size: 16px;
		}
		.tocart{
			border: 1px solid #000;
			border-radius: 0px;
			width: 100%;
			background-color: #3e3e3e;
			box-shadow: 0px 1px 0px #7b7b7b inset;
		}
	}
}

.sidebar .product-items .product-item-info .product-item-photo{
	position: relative;
	.product-image-wrapper{
		width: 110px;
		height: 110px;
	}
}

#block-related-heading{
	font-size: 15px;
	font-family: "Lato Bold";
}

.product-item-link{
	font-size: 16px;
	font-family: "Lato Bold";
}

.sidebar-additional{
	.products{
		background-color: #f3f2f0;
		margin: 0px;
		padding-top: 10px;
	}
}

.related{
	max-width: 280px;
	border: 1px solid #ecebe9;
	border-radius: 10px;
	margin: auto;
	margin-top: 15px;
	.block-title{
		background: linear-gradient(to top, #dbdad8, #f4f3f1);
		margin-bottom: 0px;
		line-height: 45px;
		padding-left: 20px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	.short-description{
		font-weight: 500;
		font-size: 12px;
		text-align: left;

	}
}

.sidebar .product-items .price-box{
	margin: 0px;
	padding-left: 10px;
}

.page-layout-2columns-right .sidebar-additional{
	padding: 0;
}


/**
* Gift Page Tell your friends block
*/

.tell-your-friends{
	margin: auto;
	margin-top: 75px;
	border-bottom: 1px solid #f3f2f0;
	max-width: 280px;
	padding-left: 10px;
	.text{
		font-size: 18px;
		font-family: 'Lato Black';
		span{
			float: left;
			margin-right: 5px;
		}
	}
	.links{
		a{
			margin-right: 10px;
			&:last-child{
				margin-right: 0px;
			}
		}
	}
}

/**
* Breadcrumbs
*/

.breadcrumbs .item:not(:last-child):after{
	display: none;
}

.breadcrumbs .items > li {
	display: inline-block;
	vertical-align: top;
	background-color: #fff;
	padding: 15px;
	color: #3b3b3b;
	margin: 0px;
	font-size: 14px;
	font-family: "Lato Bold";
	float: left;
	border-right: 1px solid #f3f3f3;
	&:first-child{
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	&:last-child{
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}

/**
* Gift Page
*/

.page-layout-2columns-right .product.media, .page-layout-2columns-right .product-info-main{
	width: 100%;
}

.page-layout-2columns-right .column.main {
	width: ~'calc(66.666% + 15px)';
	margin-right: 15px;
	box-shadow: 0 1px 1px 1px #dad9d8;
	background-color: #fff;
	padding: 20px;
}

.fotorama__nav-wrap--horizontal{
	margin-top: -100px;
	//max-height: 50px;
	text-align: right;
	//height: 50px;
	display: inline-block;
	//.fotorama__nav{
	//	height: 50px !important;
	//}
}

.fotorama__nav__shaft{
	//max-height: 50px;
	//height: 50px;
}

.fotorama__nav--thumbs .fotorama__nav__frame, .fotorama__thumb-border{
	//max-height: 50px;
	//max-width: 50px;
	//height: 50px !important;
	//width: 50px !important;
	cursor: pointer;
}

.fotorama__thumb-border{
	//display: none;
}

.product-info-main .page-title-wrapper .page-title{
	font-family: 'Lato Bold';
	font-size: 32px;
}

/**
* Sent gift block
*/

.sending-gift-to{
	.select-friends{
		display: inline-block;
		width: 100%;
		max-width: ~'calc(100% - 30px)';
		background-color: #f3f2f0;
		min-height: 100px;
		margin-bottom: 15px;
		box-shadow: 0 1px 1px 1px #dad9d8;
		padding: 15px;
		.text{
			display: inline-block;
			max-width: 200px;
			.info-text{
				color: #333333;
				font-size: 20px;
				font-family: 'Lato Black';
				max-width: 180px;
				margin-bottom: 0;
			}
			.remove-friend{
				color: #f27685;
				text-decoration: underline;
				font-style: italic;
				font-size: 13px;
			}
		}
		.friend{
			display: inline-block;
			padding: 10px;
			margin-left: ~'calc(100% - 512px)';
			min-width: 270px;
			max-width: 305px;
			width: 100%;
			box-shadow: 0 1px 1px 1px #dad9d8;
			background-color: #fff;
			img{
				display: inline-block;
			}
			.info{
				display: inline-block;
				vertical-align: top;
				.age{
					font-style: italic;

				}
				.name{
					font-family: 'Lato Bold';
					font-size: 14px;
					margin-bottom: 0px;
				}
			}
			&:before{
				content: " ";
				border-top: 8px solid transparent;
				width: 10px;
				height: 0px;
				position: absolute;
				margin-left: -35px;
				margin-top: 30px;
				border-right: 15px solid #fff;
				border-bottom: 8px solid transparent;
			}
		}
	}
		.send{
			a{
				font-family: "Lato Black";
				color: #fff;
				font-size: 26px;
				background-color: #ea7381;
				width: 100%;
				display: inline-block;
				text-align: center;
				border: 1px solid #c54c5a;
				padding: 10px 0px;
				text-transform: uppercase;
				box-shadow: 0px 1px 0px #f69ea8 inset;
				text-shadow: 2px 2px 3px black, 1px 4px 14px #b2535e;
			}
		}
}

/**
*
*/

.info-gift-to{
	.info{
		background-color: #f3f2f0;
		padding: 20px;
		margin-bottom: 20px;
		border: 1px solid #e6e5e3;
		position: relative;
		.terms-conditions{
			position: absolute;
			float: right;
			right: 15px;
			font-style: italic;
			text-decoration: underline;
			top: 15px;
		}
		p{
			font-size: 16px;
			.name{
				min-width: 150px;
				display: inline-block;
			}
		}
	}
	.description{
		font-size: 16px;
		font-family: 'Lato', sans-serif;
		text-align: justify;
		padding: 20px;
	}
	.prices{
		padding: 15px;
		.price-item{
			&>p{
				display: inline-block;
				font-size: 16px;
			}
		}
		.checkbox{
			width: 10px;
			height: 10px;
			border: 1px solid #989898;
			display: inline-block;
			border-radius: 2px;
			box-shadow: 0px 1px 0px 0px #d4d4d4;
		}
		.selected{
			&:before{
				content: " ";
				width: 6px;
				height: 6px;
				background-color: #f26d7d;
				display: block;
				margin: auto;
				margin-top: 2px;
				border-radius: 6px;
			}
		}
		.hide-checkbox{
			display: none;
		}
		.price{
			float: right;
			margin-right: 15px;
			font-size: 16px;
			font-family: 'Lato Bold';
			color: #f26d7d;
		}
	}
}

/**
* Add friends popup
*/

.background-font{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 99;
	opacity: 0.5;
	background: black;
	display: none;
}

.add-friend-popup{
	position: absolute;
	left: 50%;
	z-index: 999;
	display: none;
	padding: 10px;
	width: 635px;
	.container{
		margin-left: -50%;
		max-width: 645px;
		.find-add-friend{
			background-color: #fff;
			padding: 20px;
			display: none;
			.add-to-list-block{
				width: 100%;
				display: inline-block;
				position: relative;
				margin-left: -20px;
				text-align: center;
				background-color: #f3f2f0;
				padding: 20px;
				.add-to-list{
					font-size: 16px;
					font-family: 'Lato Bold';
					color: #333333;
					text-align: center;
				}
			}
			.title{
				font-family: 'Lato Regular';
				font-size: 16px;
				min-width: 115px;
				display: inline-block;
			}
			.input{
				input{
					width: 435px;
					border: none;
					box-shadow: 0px 0px 2px 2px #84b9cb;
					line-height: 22px;
					font-family: 'Lato Regular', sans-serif;
					font-size: 16px;
				}
			}
			.dots{
				display: inline-block;
				margin: 0px 20px;
			}
		}
		#close-friends-popup{
			float: right;
			color: #fff;
			position: relative;
			right: 10px;
			top: 0px;
			margin-top: -40px;
			text-transform: uppercase;
			font-size: 32px;
			line-height: 1px;
			font-weight: 100
		}
		h2{
			color: #fff;
			font-size: 40px;
			font-family: 'Lato Light';
			margin: auto;
			margin-bottom: 20px;
		}
		.add-friend-title{
			margin-bottom: 0;
			background: linear-gradient(to top, #eaeaea 0%, #da6271 5%, #e66f7d 30%, #f37b8a 90%);
			width: 100%;
			font-family: 'Lato Bold';
			font-size: 16px;
			padding: 20px;
			max-width: 605px;
			display: none;
		}
		.friends-celebrations{
			display: inline-block;
			margin-top: -50px;
			background-color: #fff;
			max-width: 645px;
			display: none;
			.friend{
				float: left;
				width: 100%;
				border-bottom: 1px solid #e2e2e2;
				border-right: 1px solid #e2e2e2;
				padding: 15px;
				max-width: ~'calc(50% - 31px)';
				margin-bottom: 0;
				.name{
					vertical-align: top;
					display: inline-block;
					min-width: 180px;
					font-family: 'Lato Bold';
					margin-left: 5px;
				}
				.age{
					display: inline-block;
					font-style: italic;
					font-size: 13px;
					margin-left: 5px;
					min-width: 180px;
					margin-left: 5px;
				}
				.image{
					display: inline-block;
					float: left;
					img{
						border: 1px solid #e2e2e2;
					}
				}
				.choose{
					font-family: 'Lato Black';
					background-color: #333333;
					color: #fff;
					padding: 5px 10px;
					text-transform: uppercase;
					border-radius: 5px;
					margin-left: 5px;
					font-size: 11px;
				}
			}
		}
		.friends{
			max-width: 645px;
			background-color: #fff;
			margin: 0;
			display: inline-block;
			padding: 0px;
			margin-top: -50px;
			.friend{
				max-width: 50%;
				margin-bottom: 0px;
				border-bottom: 2px #e6e5e3 solid;
				float: left;
				width: 100%;
			}
			.name{
				font-family: 'Lato Regular';
				font-size: 16px;
				vertical-align: top;
				line-height: 75px;
			}
			.add{
				background-color: #516999;
				width: 36px;
				height: 36px;
				display: inline-block;
				float: right;
				margin-right: 20px;
				margin-top: 10px;
				border-radius: 24px;
				border: 3px #e3e3e3 solid;
				text-align: center;
				line-height: 38px;
				color: #fff;
				font-family: 'Lato Black';
				font-size: 18px;
				cursor: pointer;
			}
		}
		.friends-type{
			background-color: #fff;
			margin-top: -10px;
			width: 630px;
			margin-top: -10px;
			.select-friend-input{
				border: none;
				color: #fff;
				font-size: 16px;
				font-family: 'Lato Bold';
				width: 630px;
				line-height: 50px;
				text-transform: uppercase;
				padding-left: 15px;
				max-width: 100%;
				background: linear-gradient(to top, #eaeaea 0%, #44609c 5%, #546ea5 30%, #627bad 90%);
				width: 100%;
				&::-webkit-input-placeholder { color: @defaul_color; }
				&::-moz-placeholder { color:@defaul_color; } /* firefox 19+ */
				&:-ms-input-placeholder { color:@defaul_color; } /* ie */
				& input:-moz-placeholder { color:@defaul_color; }
			}
			.search-btn{
				background-image: url("../images/menu-icons/search.png");
				width: 50px;
				display: inline-block;
				height: 50px;
				cursor: pointer;
				background-color: #4b6089;
				background-position: center;
				background-repeat: no-repeat;
				float: right;
				position: relative;
				right: -15px;
				top: -52px;
			}
		}
		.friends-types{
			width: 645px;
			background-color: #fff;
			display: inline-block;
			margin-top: -10px;
			.button{
				display: inline-block;
				width: 152.5px;
				text-align: center;
				font-size: 16px;
				font-family: 'Lato Bold';
				color: #fff;
				background-color: #f07987;
				padding: 25px 30px;
			}
		}
	}
}

@media (max-width: @desctop_width){
	.page-layout-2columns-right .sidebar-additional{
		width: 100%;
		margin: 20px 0px;
	}

	.page-layout-2columns-right .column.main{
		width: 100%;
	}

	.related{
		max-width: 100%;
		.block-content{
			text-align: center;
		}
	}

	.columns{
		width: 100%;
	}

	.sidebar .products-grid .product-item{
		width: auto;
		max-width: 100%;
		min-width: auto;
		.product-item-info{
			max-width: 100%;
			min-width: auto;
			padding: 10px;
		}
		.product-item-photo{
			width: 100%;
		}
	}
}

@media (max-width: 610px){
	.sending-gift-to .select-friends .friend{
		text-align: center;
		max-width: 100%;
		width: 100%;
		margin: auto;
	}

	.sending-gift-to .select-friends .text{
		max-width: 100%;
		width: 100%;
		text-align: center;
		margin: auto;
		.info-text{
			max-width: 100%;
		}
	}
}

@media (max-width: @mobile_width) {
	.info-gift-to .info p .name{
		min-width: auto;
	}
	.info-gift-to .info .terms-conditions{
		display: none;
	}
}

@media (max-width: 360px){
	.sending-gift-to .select-friends .friend{
		max-width: 200px;
		min-width: auto;
	}

	.info-gift-to .prices{
		padding: 0px;
	}

}

/**
* Search box
*/

.sort-btn{
	cursor: pointer;
	display: inline-block;
	float: right;
	border-radius: 5px;
	background-color: #fff;
	border: 1px solid #e5e4e2;
	cursor: pointer;
	line-height: 32px;
	padding: 10px 20px;
}

.block-search{
	width: 100%;
	input{
		width: ~'calc(100% - 100px)';
		height: 52px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;

	}
}

.search-btn{
	cursor: pointer;
	width: 52px;
	height: 52px;
	display: inline-block;
	position: absolute;
	right: 100px;
	background-color: #454545;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-image:  url("../images/menu-icons/search.png");
	background-position: center;
	background-repeat: no-repeat;
	&:before{
		content: ' ';
		border-right: 10px solid #454545;
		width: 10px;
		height: 1px;
		display: inline-block;
		top: 17px;
		left: -25px;
		border-top: 5px solid transparent;
		position: relative;
		border-left: 5px solid transparent;
		border-bottom: 5px solid transparent;
	}
}
/**
*
*/

a:hover{
	text-decoration: none;
}

.page-wrapper{
	background-color: #f3f2f0;
}

.nav-sections{
	margin-bottom: 0px;
}
