<div class="support-message">
    <p>
        <a class="support-link" href="#">
            Need support? Live chat is here to help
        </a>
    </p>
</div>
<div class="footer-top-content">
    <div class="footer-logo">
        <a href="<?php echo $block->getUrl('/'); ?>">
            Hadaya
        </a>
    </div>
    <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-contacts')->toHtml();?>
    <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-links')->toHtml();?>
    <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-social')->toHtml();?>
</div>