<div class="footer-last" data-mage-init='{"hadaya": {}}'>
    <p class="footer-info-message">
        Shop safely, by <span> cash </span> or with these options:
    </p>
    <p class="foooter-lsat-img">
        <img src="<?php echo $block->getViewFileUrl('images/footer-c.png');?>">
    </p>
</div>