<div class="info-gift-to">
    <div class="info">
        <p>
            <span class="name">
                Expiry Day
            </span>
            <span class="dots">
                :
            </span>
            <span>
                25.03.2013
            </span>
        </p>
        <p>
            <span class="name">
                Store Location
            </span>
            <span class="dots">
                :
            </span>
            <span>
                Jordan
            </span>
        </p>
        <p class="terms-conditions">
            Terms&Conditions
        </p>
    </div>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <div class="prices">
        <div class="price-item">
            <p>
                <input id="price1" class="hide-checkbox" type="checkbox"/>
                <label class="checkbox" for="price1">
                </label>
                with Silver Swirl Vase
            </p>
            <p class="price">
                $64.99
            </p>
        </div>
        <div class="price-item">
            <p>
                <input id="price2" class="hide-checkbox" type="checkbox"/>
                <label class="checkbox" for="price2">
                </label>
                with Red Vase
            </p>
            <p class="price">
                $74.99
            </p>
        </div>
        <div class="price-item">
            <p>
                <input id="price3" class="hide-checkbox" type="checkbox"/>
                <label class="checkbox" for="price3">
                </label>
                with Clear Taper Vase
            </p>
            <p class="price">
                $61.99
            </p>
        </div>
        <div class="price-item">
            <p>
                <input id="price4" class="hide-checkbox" type="checkbox"/>
                <label class="checkbox" for="price4">
                </label>
                Bouquet Onlu
            </p>
            <p class="price">
                $59.99
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    require(['jquery'], function() {
        (function($) {
            var checkout_btn = $('.checkbox');

            checkout_btn.on('click', function(){
                if($(this).hasClass('selected')){
                    $(this).removeClass('selected');
                }
                else{
                    $(this).addClass('selected');
                }
            });
        })(jQuery);
    });
</script>