<div class="sending-gift-to">
    <div class="select-friends">
        <div class="text">
            <p class="info-text">
                You are sending your gift to...
            </p>
            <a href="#remove" class="remove-friend">
                remove friend
            </a>
        </div>
        <div class="friend">
            <div>
                <img src="<?php echo $block->getViewFileUrl('images/avatars/tony.png');?>">
                <div class="info">
                    <p class="name">
                        Gokhum Guneyhan
                    </p>
                    <p class="age">
                        Turns 25 - <strong> Today </strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="send">
        <a href="#send">
            Proceed to payment
        </a>
    </div>
</div>