<div class="tell-your-friends">
    <p class="text">
        <span>
            <img src="<?php echo $block->getViewFileUrl('images/right-slider/heart.png');?>">
        </span>
        Tell your friends that you have fallen for this gift
    </p>
    <p class="links">
        <a href="#facebook">
            <img src="<?php echo $block->getViewFileUrl('images/right-slider/facebook.png');?>">
        </a>
        <a href="#twitter">
            <img src="<?php echo $block->getViewFileUrl('images/right-slider/twitter.png');?>">
        </a>
        <a href="#google">
            <img src="<?php echo $block->getViewFileUrl('images/right-slider/google.png');?>">
        </a>
    </p>
</div>