<div class="home-slider">
    <div class="slider-container">
        <ul class="homepage-slider">
            <li>
                <div class="messages">
                    <div class="messages-container">
                        <h2>
                            Mother's day lorem ipsum dolor sit
                        </h2>
                        <p>
                            <a class="send-gift-btn" href="#no">
                        <span>
                            It's a trap!
                            <span class="btn-image">
                                    <img src="<?php echo $block->getViewFileUrl('images/arrows/small-arror-right-yellow.png');?>"/>
                            </span>
                        </span>
                        <span class="text-massege">
                            Send her a gift in seconds...
                        </span>
                        </a>
                        </p>
                    </div>
                </div>
                <div class="image">
                    <img src="<?php echo $block->getViewFileUrl('images/slider-images/slide_1.png');?>"/>
                </div>
            </li>
            <li>
                <div class="messages">
                    <div class="messages">
                        <div class="messages-container">
                            <h2>
                                Mother's day lorem ipsum dolor sit
                            </h2>
                            <p>
                                <a class="send-gift-btn" href="#no">
                            <span>
                                It's a trap!
                                <span class="btn-image">
                                    <img src="<?php echo $block->getViewFileUrl('images/arrows/small-arror-right-yellow.png');?>"/>
                                </span>
                            </span>
                                    <span class="text-massege">
                                        Send her a gift in seconds...
                                    </span>

                            </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="image">
                    <img src="<?php echo $block->getViewFileUrl('images/slider-images/slide_2.png');?>"/>
                </div>
            </li>
        </ul>
        <div class="slide-menu">
            <div class="collapse-menu">
            <div class="left-menu">
                I want to send a gift to
                <a href="#gift-select-for" class="gift-select-for">
                    my girlfriend
                    <img src="<?php echo $block->getViewFileUrl('images/arrows/small-arrow-down.png');?>"/>
                </a>
                <span class="collapse-icon">

                </span>
                for
                <a href="#gift-select-what" class="gift-select-what">
                    Valentines day
                        <img src="<?php echo $block->getViewFileUrl('images/arrows/small-arrow-down.png');?>">
                </a>
            </div>
                <a class="find-best-gifts" href="#search">
                    Find best gifts
                    <span>
                        <img src="<?php echo $block->getViewFileUrl('images/arrows/small-arror-right.png');?>">
                    </span>
                </a>
            </div>
            <div class="colapse-menu-select">
                <div class="everyday-occasion">
                    <h3>
                        Everyday Occasion
                    </h3>
                    <ul>
                        <li>
                            <span>
                                <img src="<?php echo $block->getViewFileUrl('images/menu-icons/anniversary.png');?>"/>
                            </span>
                            Anniversary
                        </li>
                        <li>
                            <span>
                                <img src="<?php echo $block->getViewFileUrl('images/menu-icons/baby.png');?>"/>
                            </span>
                            Baby
                        </li>
                        <li>
                            <span>
                                <img src="<?php echo $block->getViewFileUrl('images/menu-icons/birthday.png');?>"/>
                            </span>
                            Birthday
                        </li>
                        <li>
                            <span>
                                <img src="<?php echo $block->getViewFileUrl('images/menu-icons/congratulations.png');?>"/>
                            </span>
                            Congratulations
                        </li>
                        <li>
                            <span>
                                <img src="<?php echo $block->getViewFileUrl('images/menu-icons/get-well.png');?>"/>
                            </span>
                            Get Well
                        </li>
                        <li>
                            <span>
                                <img src="<?php echo $block->getViewFileUrl('images/menu-icons/housewarming.png');?>"/>
                            </span>
                            Hausewarming
                        </li>
                        <li>
                            <span>
                                <img src="<?php echo $block->getViewFileUrl('images/menu-icons/im-sorry.png');?>"/>
                            </span>
                            I'm Sorry
                        </li>
                        <li>
                            <span>
                                <img src="<?php echo $block->getViewFileUrl('images/menu-icons/just-because.png');?>"/>
                            </span>
                            Just Because
                        </li>
                        <li>
                            <span>
                                <img src="<?php echo $block->getViewFileUrl('images/menu-icons/love.png');?>"/>
                            </span>
                            Love&Romance
                        </li>
                        <li>
                            <span>
                                <img src="<?php echo $block->getViewFileUrl('images/menu-icons/retriment.png');?>"/>
                            </span>
                            Retirement
                        </li>
                        <li>
                            Sympathy&Funerals
                        </li>
                        <li>
                            Thank You
                        </li>
                        <li>
                            The Wedding Collection
                        </li>
                    </ul>
                </div>
                <div class="public-occasion">
                    <h3>
                        Public Occasion
                    </h3>
                    <ul>
                        <li>
                            Ramadan
                        </li>
                        <li>
                            Eid ul-adha
                        </li>
                        <li>
                            New Year
                        </li>
                        <li>
                            Independence day
                        </li>
                    </ul>
                </div>
            </div>
            <p class="message">
                <span class="arrow-up">
                    <img src="<?php echo $block->getViewFileUrl('images/arrows/arrow-up.png');?>"/>
                </span>
                you can use our gift adviser for occasions or browse categories to explore inside
                <span class="arrow-down">
                    <img src="<?php echo $block->getViewFileUrl('images/arrows/arrow-down.png');?>"/>
                </span>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    require(['jquery','jquery.slides.min', 'hadaya'], function() {
        (function($) {
            $('.homepage-slider').slidesjs({
                height: 245,
                pagination: false,
                play: {
                    active: true,
                    auto: true,
                    interval: 4000,
                    restartDelay: 2500,
                    swap: true,
                    effect: "slide",
                    restartDelay: 2500
                },
                effect: {
                    slide: {
                        // Slide effect settings.
                        speed: 2000
                        // [number] Speed in milliseconds of the slide animation.
                    }
                }
            });
        })(jQuery);
    });
</script>